body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* NAVBAR */
.navbar{
    background-color: #7dcbff;
}
/* to override bootstrap styling use important */
.nav-link{
    color: black !important;
}


/* FOOTER */
.f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.f-info-socials i{  
    font-size: 2rem;
    margin: 0rem 1rem;
    /* margin-right: 1rem; */
}
.f-info-socials a{
    color: black;
}
.f-info{
    text-align: center;
    display: flex;
    height: 7rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* CARDS */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p {
    font-weight: 400 ;
}
.listing-link{
    text-decoration: none;
}

/* CARD EFFECT */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* NEW PAGE */
.add-btn{
    background-color: #0099ff !important;
    border: none !important;
}

/* EDIT PAGE */
.edit-btn{
    background-color: #0099ff !important;
    border: none !important;
}

/* SHOW PAGE */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* FORMS */
.form-pass{
    display: flex;
    align-items: center;
}
.form-pass img{
    margin-left: 5px;
    width: 35px;
    cursor: pointer;
}


/* MAP */
#map{  
    height: 55vh;
    width: 60vw;
}

/* RATING */
.rating_mobile{
    display: none;
}

@media (max-width: 768px) {
    .logo{
        display: none !important;
    }
    #map{
        height: 30vh;
        width: 50vw;
    }
    .starability-result{
        display: none !important;
    }
    .rating_mobile{
        display:block;
    }
}
@media (max-width: 576px) {
    #map{
        height: 25vh;
        width: 65vw;
    }
}